*checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Principal_Symbol-checkpoint.ipynb
.ipynb_checkpoints/Principal_Symbol-checkpoint.ipynb
.ipynb_checkpoints/Principal_Symbol-checkpoint.ipynb
.ipynb_checkpoints/Principal_Symbol-checkpoint.ipynb
.ipynb_checkpoints/inversion_ext-checkpoint.jl
.ipynb_checkpoints/Principal_Symbol-checkpoint.ipynb
